{% load static %}
<footer class="d-flex flex-wrap justify-content-between align-items-center pt-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center justify-content-center">
    <a href="{% url 'velocipede:homepage' %}" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
      <img src="{% static 'velocipede/images/icons/main_icon_dark.png' %}" class="bi d-block mx-auto mb-1">
    </a>
    <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
  </div>

  <ul class="nav col-md-4 justify-content-center list-unstyled d-flex">
    <li class="ms-3"><a class="text-body-secondary" href="#"><img class="bi" width="40" height="40" src="{% static 'velocipede/images/icons/x.png' %}" alt="X socials"></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="#"><img class="bi" width="40" height="40" src="{% static 'velocipede/images/icons/instagram.png' %}" alt="Instagram socials"></a></li>
  </ul>
</footer>