{% load static %}
<header class="header px-3 py-2 text-bg-dark border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="{% url 'velocipede:homepage' %}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
        <img src="{% static 'velocipede/images/icons/main_icon.png' %}" class="bi d-block mx-auto mb-1">
      </a>

      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
        <li>
          <a href="{% url 'velocipede:homepage' %}" class="nav-link {% if active == 'home' %}text-secondary{% else %}text-white{% endif %}">
            <img src="{% static 'velocipede/images/icons/home.png' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
            Home
          </a>
        </li>
        <li>
          <a href="{% url 'velocipede:rented' %}" class="nav-link {% if active == 'rented' %}text-secondary{% else %}text-white{% endif %}">
            <img src="{% static 'velocipede/images/icons/rented.png' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
            Rented
          </a>
        </li>
        <li>
          <a href="{% url 'velocipede:rentlist' %}" class="nav-link {% if active == 'to_rent' %}text-secondary{% else %}text-white{% endif %}">
            <img src="{% static 'velocipede/images/icons/velocipede.png' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
            To Rent
          </a>
        </li>
        <li>
          <a href="{% if request.user.is_authenticated %}{% url 'accounts:log_out_confirm' %}{% else %}{% url 'accounts:log_in' %}{% endif %}" class="nav-link {% if active == 'customer' %}text-secondary{% else %}text-white{% endif %}">
            <img src="{% static 'velocipede/images/icons/user.png' %}" class="bi d-block mx-auto mb-1" width="24" height="24">
            Customer
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>