{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'velocipede/images/icons/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static '/velocipede/styles/global.css' %}">
  <link rel="stylesheet" href="{% static '/velocipede/styles/homepage.css' %}">
  <link rel="stylesheet" href="{% static '/velocipede/styles/header.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>Оренда Велосипедів | Лютіков</title>
</head>
<body>
  <div class="global-container">
    {% include "./header.html" %}
    <main class="main main_homepage">
      <div id="velocipedeCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          {% for thumbnail in thumbnails %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{% get_media_prefix %}{{thumbnail.thumbnail}}" class="d-block">
            <div class="carousel-caption d-none d-md-block">
              <h5>The Bike</h5>
              <p>Fast and furious.</p>
              <button class="btn text-light bg-success bg-gradient py-1" type="button">Rent it now!</button>
            </div>      
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#velocipedeCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#velocipedeCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <div class="carousel-indicators position-relative">
          <button type="button" data-bs-target="#velocipedeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#velocipedeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#velocipedeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>      
      </div>
      <div class="px-3 text-center w-50 m-auto">
        <h1>Rent With Ease!</h1>
        <p class="lead">You choose location, bike and how to pay, we do rest!</p>
        <p class="lead">
          <a href="{% url 'velocipede:rentlist' %}" class="btn btn-lg btn-light fw-bold border-black bg-white">Explore</a>
        </p>
      </div>
    </main>
    {% include "./footer.html" %}  
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="{% static 'velocipede/scripts/homepage.js' %}"></script>
</body>
</html>