{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'velocipede/images/icons/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static '/velocipede/styles/global.css' %}">
  <link rel="stylesheet" href="{% static '/velocipede/styles/rentlist.css' %}">
  <link rel="stylesheet" href="{% static '/velocipede/styles/header.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>Ваші Орендування | Лютіков</title>
</head>
<body>
  <div class="global-container">
    {% include "velocipede/header.html" %}
    <main class="main d-flex flex-column">
      <div class="card-container text-center row row-cols-1 row-cols-md-2 g-4 flex-grow-1">
        {% for r in rents %}
        <div class="col">
          <div class="card">
            <img src="{% get_media_prefix %}{{r.velocipede.thumbnail}}" class="card-img-top" alt="Velocipede for {{v.cost}}">
            <div class="card-body">
              <h5 class="card-title">{{r.velocipede.cost}}₴</h5>
              <p class="card-text">Rent time: {{r.start_time}}-{{r.end_time}}</p>
              <p class="card-text">Start station: {{r.start_station}}</p>
              <p class="card-text">End station: {{r.end_station}}</p>
            </div>
          </div>
        </div>
        {% empty %}
        <p class="w-100 my-auto text-center p-4 bg-light">No Rents Were Made</p>
        {% endfor %}
      </div>
      <div class="container d-flex justify-content-center mt-4">
        <div class="pagination-container">
          <nav aria-label="Page navigation">
            <ul class="pagination">

            </ul>
          </nav>
        </div>
      </div>
    </main>
    {% include "velocipede/footer.html" %}
  </div>
  {{paginator.num_pages|json_script:"totalPagesJSON"}}
  {{page_obj.number|json_script:"currentPageJSON"}}
  <script src="{% static 'velocipede/scripts/pagination.js' %}"></script>
</body>

</html>