{% extends 'default/page.html' %}

{% load i18n %}

{% block content %}

    <h4>{% trans 'Log out' %}</h4>

    <p>
        {% trans 'Confirm this action:' %}
    </p>

    <form action="{% url 'accounts:log_out' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-success">{% trans 'Log out' %}</button>
    </form>

{% endblock %}
