* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  width: 100vw;
  height: 100vh;
}
.global-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
}
.main {
  flex: 1 1 auto;
}