#velocipedeCarousel {
  margin: 0 auto;
}
#velocipedeCarousel .carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#velocipedeCarousel .carousel-item button {
  width: clamp(240px, 35%, 560px);
}
#velocipedeCarousel .carousel-caption {
  position: relative;
  translate: -50% 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#velocipedeCarousel .carousel-indicators {
  filter: drop-shadow(0px 0px 1px rgb(7, 240, 58))
}
#velocipedeCarousel .carousel-indicators button {
  transition: background-color 0.8s;
  background-color: rgb(7, 240, 58);
}
#velocipedeCarousel .carousel-indicators button.active {
  background-color: white;
}
@media (max-width: 3840px) {
  #velocipedeCarousel {
    margin: 80px auto;
  } 
  #velocipedeCarousel img {
    width: auto;;
    height: 1400px;
  }
}
@media (max-width: 1920px) {
  #velocipedeCarousel img {
    width: auto;;
    height: 700px;
  }
}
@media (max-width: 1280px) {
}
@media (max-width: 767) {
  #velocipedeCarousel {
    width: 100%;
  }
}
#velocipedeCarousel .carousel-control-prev {
  filter: drop-shadow(0 0 2px #000);
  /* translate: -72px 0; */
}
#velocipedeCarousel .carousel-control-next {
  filter: drop-shadow(0 0 2px #000);
  /* translate: 72px 0; */
}